.card-wrapper {
  border: 1px solid deeppink;
  border-radius: 40px;
  padding: 20px;
}

.card-wrapper.red {
  background-color: #ffa0a0;
  color: white;
}

.card-wrapper.blue {
  background-color: #5a7adb;
  color: white;
}

.card-wrapper.black {
  background-color: #464646;
  color: white;
}

.card-wrapper.natural {
  background-color: #e7cc6a;
  color: white;
}