.card {
  border: 1px solid deeppink;
  border-radius: 40px;
  padding: 20px;
  color: white;

  &[data-role="none"] {
    color: deeppink;
  }

  [data-role="red"],
  [data-highlight="red"] {
    background-color: #ffa0a0;
  }

  [data-role="blue"],
  [data-highlight="blue"] {
    background-color: #5a7adb;
  }

  [data-role="black"],
  [data-highlight="black"] {
    background-color: #464646;
  }

  [data-role="neutral"],
  [data-highlight="neutral"] {
    background-color: #e7cc6a;
  }
}

.cards-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 20px;
}