:root {
  --primary-color: #000;
  --inverse-color: #fff;
  --button-color: #606060;
  --text-size: 1rem;
}

$button-border: #000000;
$outline-color: blue;
$light-grey: #f3f3f3;
$grey: #e0e0e0;
$dark-grey: #c9c9c9;
